
/* Player Item */
/* ================================================================================================== */

/* Icon */
/* -------------------------------------------------------------------------------- */

.g-player-item-icon {
	flex: none;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	background-color: #E7E9EA;
}
.ui-dark .g-player-item-icon {
	background-color: #262A2B;
}

.g-player-item-icon img {
	object-fit: cover;
	max-width: 100%;
}

/* Metas */
/* -------------------------------------------------------------------------------- */

.g-player-item-metas {
	min-width: 0;
	flex-shrink: 1;
}
